<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>New Message</h2>
<form action="#"
      th:action="@{/process}"
      th:object="${message}"
      method="post">
    Content : <textarea rows="(4)" th:field="*{content}" />
    <span th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"></span> <br />
    Date Posted : <input type="date" th:field="*{posteddate}" />
    <span th:if="${#fields.hasErrors('posteddate')}"
          th:errors="*{posteddate}"></span><br />
    Posted by : <input type="text" th:field="*{postedby}" />
    <span th:if="${#fields.hasErrors('postedby')}"
          th:errors="*{postedby}"></span><br />
    <br />
    <input type="submit" value="Post" />

</form>

</body>
</html>